.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350.6px;
    width: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    max-width: 300px;

    &:hover {
        transform: scale(1.03);
    }
}

.image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4c73e3;
    margin-top: 0;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #4f4f55;
    margin: 10px 0;
    flex-grow: 1;
    margin-top: 0;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
}

.date,
.time {
    font-family: 'Inter', sans-serif;
    color: #8299dd;
    background: #f8f9fa;
    padding: 5px 8px;
    border-radius: 4px;
}

.feature {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 1536px) {
    .card {
        width: 283px;
        max-height: 320px;
    }
    .description {
        margin: 5px 0px;
    }
    .title {
        margin-bottom: 5px;
    }
    .image {
        height: 160px;
    }
}

@media (max-width: 1280px) {
    .card {
        width: 253px;
        max-height: 320px;
    }
    .title {
        font-size: 17px;
    }

    .description {
        font-size: 13px;
    }

    .footer {
        font-size: 12px;
    }
    .image {
        height: 150px;
    }
}

@media (max-width: 960px) {
    .card {
        width: 195px;
        max-height: 320px;
    }
    .title {
        font-size: 16px;
    }

    .description {
        font-size: 11px;
    }

    .footer {
        font-size: 9px;
    }

    .content {
        padding: 10px;
    }
}
